---
import Layout from "@layouts/Layout.astro"
import NewsItem from "@src/components/NewsItem.astro"

// Images
import noticias_goierriko_hitza from "@src/assets/images/noticias_goierriko_hitza.png"
import noticias_guipuzkoa_img from "@src/assets/images/noticias_gipuzkoa.webp"
---

<Layout>
    <div class="max-w-3xl mx-auto mt-4">
        <NewsItem
        logo={noticias_goierriko_hitza}
        title="El debut literario de Eneritz Martín"
        description="‘Estela. el viaje’ es el primer libro de esta joven beasaindarra; Una historia de superación y aventuras"
        logoAlt="Noticias Goierriko Hitza"
        href="https://goierri.hitza.eus/2025/01/22/gainditze-eta-abentura-istorio-bat/"
        />
        <NewsItem
            logo={noticias_guipuzkoa_img}
            title="Gainditze eta abentura istorio bat"
            description="Eneritz Martin Diaz beasaindarrak ‘Estela, bidaia’ eleberri laburra argitaratu du euskaraz. Bere gainditze istorio pertsonalean oinarrituta dago."
            logoAlt="Noticias Gipuzkoa"
            href="https://www.noticiasdegipuzkoa.eus/gipuzkoa/bertan/2024/09/01/debut-literario-eneritz-martin-8639965.html"
        />
    </div>
</Layout>