---
import Navbar from "@src/components/Navbar.astro"
import Footer from "@src/components/Footer.astro"

import '@src/styles/global.css';
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="flex flex-col min-h-screen">
		<header>
			<Navbar  />
		</header>
		<main class="flex-1">
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style>
	html {
		margin: 0;
		height: 100%;
	}

	body {
		margin: 0;
		height: 100%;
	}
</style>